@page "/productmanager"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using InventorySystem.Blazor.Features.Categories.Components
@using InventorySystem.Blazor.Features.Brands.Components


<h3>ProductManager</h3>
<MudGrid Spacing="3" AlignItems="AlignItems.Stretch">
    <MudItem xs="12" md="8" xl="4" Class="d-flex">
        <MudPaper Class="pa-4 h-100 mud-width-full">
            <MudText Typo="Typo.h6">Categorías</MudText>
            <CategoryList @bind-SelectedCategoryId="CategoryId" />
        </MudPaper>
    </MudItem>

    <MudItem xs="12" md="4" xl="4" Class="d-flex">
        <MudPaper Class="pa-4 h-100 mud-width-full">
            <MudText Typo="Typo.h6">Marcas</MudText>
            <BrandList @bind-SelectedBrandId="BrandId" />
            </MudPaper>
    </MudItem>

    <MudItem xs="12" md="4" xl="4" Class="d-flex">
        <MudPaper Class="pa-4 h-100 mud-width-full">
            <MudText Typo="Typo.h6">Modelos</MudText>

            @if(CategoryId is null)
            {
                <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" NoIcon="true" Class="my-2">❌ Categoría</MudAlert>
            }
            else
            {
                <MudAlert Severity="Severity.Info" Variant="Variant.Filled" NoIcon="true" Class="my-2">✅ Categoría</MudAlert>
            }

            @if (BrandId is null)
            {
                <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" NoIcon="true" Class="my-2">❌ Marca</MudAlert>
            }
            else
            {
                <MudAlert Severity="Severity.Info" Variant="Variant.Filled" NoIcon="true" Class="my-2">✅ Marca </MudAlert>
            }
            
            <MudButton Variant="Variant.Filled" Disabled="true">Disabled</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private Guid? CategoryId; 
    private Guid? BrandId;
} 
