@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" Style="height:24px" />

<MudButton Variant="Variant.Filled" Color="Color.Secondary">
    Hola MudBlazor
</MudButton>


Welcome to your new app.
